<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>知识库</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/bootstrap-datepicker/css/datepicker.css"><!-- BOOTSTRAP DATEPICKER PLUGIN CSS -->
		<link rel="stylesheet" type="text/css" href="assets/bootstrap-timepicker/compiled/timepicker.css"><!-- BOOTSTRAP TIMEPICKER PLUGIN CSS -->		
		<link rel="stylesheet" type="text/css" href="css/jquery.autocompleter.css">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="official" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="main.html" class="logo">
					佣金系统
					<span v-if="ap_list==='KJ'">
           	 会计
          </span>
          <span v-if="ap_list==='GW'">
           	 顾问
          </span>
          <span v-if="ap_list!='KJ' && ap_list!='GW'">
           	 超级管理员
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a href="password.html">
										<i class="fa fa-key">
                    </i> 修改密码
									</a>
								</li>
								<li><a href="javascript:tb.out();">
										<i class="fa fa-user">
                    </i> Log Out
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li >
              <a href="main.html">
                <i class="fa fa-dashboard">
                </i>
                <span>
                  Dashboard
                </span>
              </a>
            </li>
            <dli v-if="ap_list!=='KJ' && ap_list!=='GW'">            
            <li>
              <a href="adviser.html">
                <i class="fa fa-book">
                </i>
                <span>
                  顾问管理
                </span>
              </a>
            </li>
            <li>
              <a href="official.html" class="active">
                <i class="fa fa-book">
                </i>
                <span>
                  文案管理
                </span>
              </a>
            </li>
            <li>
              <a href="school.html">
                <i class="fa fa-book">
                </i>
                <span>
                  学校管理
                </span>
              </a>
            </li>
            <li>
              <a href="receive-type.html">
                <i class="fa fa-book">
                </i>
                <span>
                  收款方式管理
                </span>
              </a>
            </li>
            <li>
              <a href="subagency.html">
                <i class="fa fa-book">
                </i>
                <span>
                  Subagency管理
                </span>
              </a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-book">
                </i>
                <span>
                  服务项目管理
                </span>
              </a>
            </li>
          	</dli>
          	<li v-if="ap_list!='KJ'">
              <a href="users.html">
                <i class="fa fa-book">
                </i>
                <span>
                  客户管理
                </span>
              </a>
            </li>
            <li v-if="ap_list!='KJ'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 渠道管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="source.html">
										渠道列表
									</a>
								</li>
								<li>
									<a href="source-type.html">
										来源分类
									</a>
								</li>								
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 佣金表
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="visa.html">
										签证类
									</a>
								</li>
								<li>
									<a href="table-1.html">
										提前扣佣学生表
									</a>
								</li>
								<li>
									<a href="table-2.html">
										待追佣学生表
									</a>
								</li>
								<li>
									<a href="table-3.html">
										退款表
									</a>
								</li>
								<li>
									<a href="table-export.html">
										导出数据
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;" class="active">
								<i class="fa fa-book">
                </i>
								<span>
                 	 知识库
                </span>
							</a>
							<ul class="sub" id="knowledge-menu">
								<li v-if="ap_list!='KJ' && ap_list!='GW'">
									<a href="knowledge-menu.html">
										菜单管理
									</a>
								</li>
								{{{m_list}}}
							</ul>
						</li>						
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row">
						<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading" id="title">
									知识库内容
								</header>
								<div class="panel-body">
									<div class="adv-table editable-table" id="content">										
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2018 &copy; 佣金系统 by <span style="color:#2a8ba7;">GIG</span>.
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>		
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script><!-- BOOTSTRAP DATEPICKER JS  -->
    <script src="assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script><!-- BOOTSTRAP DATETIMEPICKER JS  -->
    <script type="text/javascript" src="assets/wang-editor/js/wangEditor1.min.js"></script>
    <script src="js/jquery.autocompleter.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script>
			tb.isLogin("official.html");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#official',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),
					id: sessionStorage.getItem("kid"),
					m_list: localStorage.getItem("str_html"),
					dId: '',
					eId: ''					
				},
				created: function() {
					$.get(url + "knowledge/get", {
						id: this.id,									
					}, function(result) {
						var title = result.data.title;
						var id = result.data.id;
						var cont = result.data.content;
						$('#title').html('[ID:'+result.data.id+'] '+title);
						$('#content').html(cont);
					});
				},
				methods: {					
				}		
			});
			
			function show_knowledge_detail(id,parentId)
      {
      		sessionStorage.setItem("id", id);
      		sessionStorage.setItem("menu_parentid", parentId);
					window.location.href = "knowledge.html"; 
      }					      
			
			function  formatDate(now)
			{
			    var   now= new Date(now);     
			    var   year=now.getFullYear();     
			    var   month=now.getMonth()+1;     
			    var   date=now.getDate();     
			    var   hour=now.getHours();
			    var   minute=now.getMinutes();     
			    var   second=now.getSeconds();
			    return fixZero(date,2)+"/"+fixZero(month,2)+"/"+year; 
			}  
			
			function fixZero(num,length)
			{     
			    var str=""+num;
			    var len=str.length;     var s="";
			    for(var i=length;i-->len;)
			    {         
			        s+="0";
			    }
			    return s+str;
			}						
	        
	    jQuery(document).ready(function() {	    		
	    });
		</script>
	</body>

</html>