<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Dashboard</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/clndr.css" rel="stylesheet"><!-- CALENDER CSS -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<script>
		function current_date()
  	{
  			var myDate = new Date();
  			var str_date = myDate.getDate()+'/'+(myDate.getMonth()+1)+'/'+myDate.getFullYear();
  			document.write(str_date);   			
  	}
		</script>
	</head>

	<body id="dashboard" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="main.html" class="logo">
					佣金系统
					<span v-if="ap_list==='KJ'">
           	 会计
          </span>
          <span v-if="ap_list==='GW'">
           	 顾问
          </span>
          <span v-if="ap_list!='KJ' && ap_list!='GW'">
           	 超级管理员
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a href="password.html">
										<i class="fa fa-key">
                    </i> 修改密码
									</a>
								</li>
								<li><a href="javascript:tb.out();">
										<i class="fa fa-user">
                    </i> Log Out
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li >
              <a href="main.html" class="active">
                <i class="fa fa-dashboard">
                </i>
                <span>
                  Dashboard
                </span>
              </a>
            </li>
            <dli v-if="ap_list!=='KJ' && ap_list!=='GW'">            
            <li>
              <a href="adviser.html">
                <i class="fa fa-book">
                </i>
                <span>
                  顾问管理
                </span>
              </a>
            </li>
            <li>
              <a href="official.html">
                <i class="fa fa-book">
                </i>
                <span>
                  文案管理
                </span>
              </a>
            </li>
            <li>
              <a href="school.html">
                <i class="fa fa-book">
                </i>
                <span>
                  学校管理
                </span>
              </a>
            </li>
            <li>
              <a href="receive-type.html">
                <i class="fa fa-book">
                </i>
                <span>
                  收款方式管理
                </span>
              </a>
            </li>
            <li>
              <a href="subagency.html">
                <i class="fa fa-book">
                </i>
                <span>
                  Subagency管理
                </span>
              </a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-book">
                </i>
                <span>
                  服务项目管理
                </span>
              </a>
            </li>            
          	</dli>          	
          	<li v-if="ap_list!='KJ'">
              <a href="users.html">
                <i class="fa fa-book">
                </i>
                <span>
                  客户管理
                </span>
              </a>
            </li>            
            <li v-if="ap_list!='KJ'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 渠道管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="source.html">
										渠道列表
									</a>
								</li>
								<li>
									<a href="source-type.html">
										来源分类
									</a>
								</li>								
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 佣金表
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="visa.html">
										签证类
									</a>
								</li>
								<li>
									<a href="table-1.html">
										提前扣佣学生表
									</a>
								</li>
								<li>
									<a href="table-2.html">
										待追佣学生表
									</a>
								</li>
								<li>
									<a href="table-3.html">
										退款表
									</a>
								</li>
								<li>
									<a href="table-export.html">
										导出数据
									</a>
								</li>
							</ul>
						</li>						
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row state-overview">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count" id="user_count">0</h1>
                  <p>
                    客户总数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-user yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3" id="user_count_month">0</h1>
                  <p>
                    本月新客户
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-money red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2" id="get_month_expect_amount">0</h1>
                  <p>
                    本月预计佣金
                  </p>
                </div>
              </section>
            </div>            
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-shopping-cart purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">0</h1>
                  <p>
                    待回款佣金
                  </p>
                </div>
              </section>
            </div>
          </div>        
          <div class="row">
          	<div class="col-lg-6">
              <div class="panel">
                <div class="panel-body">
                  <div class="calendar-block ">
                    <div class="cal1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
               <section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">待收佣学生</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>姓名</th>
                           <th>电话</th>
                           <th>学校</th>
                           <th>提醒日期</th>
                           <th>&nbsp;</th>
                           <th>&nbsp;</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in subject">
                           <td v-html="item.id"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.phone"></td>
                           <td v-html="item.schoolName"></td>
                           <td v-html="item.remindDateList"></td>
                           <td><button type="button" class="btn btn-info btn-sm" onclick="window.location.href='table-2.html'">录入佣金表</button></td>
                           <td><button type="button" class="btn btn-default btn-sm" @click="close_confirm($index,item.id,1)">不在就读</button></td>
                        </tr>
                        
                     </tbody>
                  </table>
               </section>
            </div> 
          </div>
          <div class="row">
          	<div class="col-lg-6">
          		<section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">签证类提醒</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Visa_Id</th>
                           <th>姓名</th>
                           <th>电话</th>
                           <th>办理日期</th>
                           <th>提醒日期</th>
                           <th>&nbsp;</th>
                           <th>&nbsp;</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in subject1">
                           <td v-html="item.visaId"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.phone"></td>
                           <td v-html="item.handlingDate"></td>
                           <td v-html="item.remindDate"></td>
                           <td><button type="button" class="btn btn-default btn-sm" @click="close_confirm1($index,item.id,1)">关闭提醒</button></td>
                        </tr>                        
                     </tbody>
                  </table>
               </section>
          	</div>
          	<div class="col-sm-6">
          		<section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">提前扣佣提醒</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Sa_Id</th>
                           <th>姓名</th>
                           <th>电话</th>
                           <th>办理日期</th>
                           <th>提醒日期</th>
                           <th>&nbsp;</th>
                           <th>&nbsp;</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in subject2">
                           <td v-html="item.brokerageSaId"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.phone"></td>
                           <td v-html="item.handlingDate"></td>
                           <td v-html="item.remindDate"></td>
                           <td><button type="button" class="btn btn-info btn-sm" onclick="window.location.href='table-1.html'">录入佣金表</button></td>
                           <td><button type="button" class="btn btn-default btn-sm" @click="close_confirm1($index,item.id,1)">关闭提醒</button></td>
                        </tr>                        
                     </tbody>
                  </table>
               </section>
          	</div>
          </div>
          <div class="row">
          	<div class="col-lg-12">
          		<section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">回访提醒</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>姓名</th>                           
                           <th>时间</th>
                           <th>咨询内容</th>                           
                           <th>提醒时间</th>
                           <th>提醒内容</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in datalist4">
                           <td v-html="item.id"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.gmtCreate"></td>
                           <td v-html="item.contents"></td>
                           <td v-html="item.remindDate"></td>
                           <td v-html="item.remindContents"></td>
                        </tr>                        
                     </tbody>
                  </table>
               </section>
          	</div>          	
          </div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2018 &copy; 佣金系统 by <span style="color:#2a8ba7;">GIG</span>.
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/ajaxfileupload.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script src="js/calendar/clndr.js"></script><!-- CALENDER JS -->
    <script src="js/calendar/evnt.calendar.init.js"></script><!-- CALENDER EVENT JS -->
    <script src="js/calendar/moment-2.2.1.js"></script><!-- CALENDER MOMENT JS -->
    <script src="js/underscore-min.js"></script><!-- UNDERSCORE JS -->
		<script>
			tb.isLogin("main.html");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#dashboard',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),	
					subject: [],
					subject1: [],	
					subject2: [],
					datalist4: [],	
					showTime: 2000,
					eror: ''
				},created: function() {
					this.getDatalist();
					this.getDatalist1();
					this.getDatalist2();
					this.getDatalist4();
				},methods: {								
					getDatalist: function() {
						var that = this;										
						$.get(url + "school_brokerage_sa/listByDashboard?", {
							pageNum: 0,
							pageSize: 10					
						}, function(result) {
							console.log(result)
							that.pageNum = 0;
							for(var i = 0; i < result.data.length; i++) {
									//result.data[i].id = result.data[i].id;
									if (result.data[i].remindDateList)
									{
											var str_remindDateList = '';
											var str = result.data[i].remindDateList;
											var arr = result.data[i].remindDateList;								
											for(var t =0;t<arr.length;t++)
											{
													if (str_remindDateList =='')
													{
															str_remindDateList = that.getTime(arr[t]);
													}else
													{
															str_remindDateList += '<br>'+that.getTime(arr[t]);
													}
											}
											result.data[i].remindDateList = str_remindDateList;
									}							
							};
							that.subject = result.data;
							//console.log(that.subject);
						});
					},
					getDatalist1: function() {
						var that = this;
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();		
						$.get(url + "visaRemind/listByDate?date="+current_tp, {							
						}, function(result) {
							console.log(result)
							for(var i = 0; i < result.data.length; i++) {
									result.data[i].id = result.data[i].id;
									result.data[i].userName = result.data[i].visa.userName;
									result.data[i].phone = result.data[i].visa.phone;
									result.data[i].handlingDate = that.getTime(result.data[i].visa.handlingDate);							
									result.data[i].remindDate = that.getTime(result.data[i].remindDate);
							};
							that.subject1 = result.data;
							console.log(that.subject1);
						});
					},
					getDatalist2: function() {
						var that = this;
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();		
						$.get(url + "brokerageSaRemind/listByDate?date="+current_tp, {							
						}, function(result) {
							console.log(result)
							for(var i = 0; i < result.data.length; i++) {									
									result.data[i].id = result.data[i].id;
									result.data[i].userName = result.data[i].brokerageSa.userName;
									result.data[i].phone = result.data[i].brokerageSa.phone;
									result.data[i].handlingDate = that.getTime(result.data[i].brokerageSa.handlingDate);								
									result.data[i].remindDate = that.getTime(result.data[i].remindDate);
							};
							that.subject2 = result.data;
							console.log(that.subject2);
						});
					},
					getDatalist4: function() {
						var that = this;
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();		
						$.get(url + "controller/listByDate?date="+current_tp, {							
						}, function(result) {
							console.log(result)
							for(var i = 0; i < result.data.length; i++) {									
									result.data[i].id = result.data[i].id;
									result.data[i].userName = '<a href="javascript:;" onclick="show_detail('+result.data[i].userId+');">'+result.data[i].userName+'</a>';//需调用name字段
									result.data[i].gmtCreate = that.getTime(result.data[i].gmtCreate);
									if (typeof(result.data[i].remindDate) != "undefined")
									{
											result.data[i].remindDate = that.getTime(result.data[i].remindDate);											
									}else
									{
											result.data[i].remindDate = '';
									}
							};
							that.datalist4 = result.data;
						});
					},
					getTime: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						var date2 = y + "-" + m + "-" + d;
						return date2;
					},
					addZero: function(obj) {
						if(obj < 10) {
							obj = '0' + obj;
						};
						return obj;
					},
					close_confirm: function (index,id,close) {
						if(confirm("确认删除该学生所有后续确认就读提醒？"))
						{
		          	var str_url = 'school_brokerage_sa/close';
		          	$.get(str_url, {
									id: id
								}, function(result) {
									console.log(result);
									if(result.data == true) {								
				   					//重新载入数据源
				   					location.reload();
									};
								});
						}
          },
          close_confirm1: function (index,id,close) {
          	var str_url = 'remind/delete';
          	$.get(str_url, {
							id: id
						}, function(result) {
							console.log(result);
							if(result.data == true) {								
		   					//重新载入数据源
		   					location.reload();
							};
						});
          },
          close_confirm2: function (index,id,close) {
          	var str_url = 'remind/delete';
          	$.get(str_url, {
							id: id
						}, function(result) {
							console.log(result);
							if(result.data == true) {								
		   					//重新载入数据源
		   					location.reload();
							};
						});
          }
				}
			});
			//alert(sessionStorage.getItem("ap_list"));
			init_getData();
			
			function init_getData()
      {
					$.get("user/count", {
					}, function(result) {
						console.log(result);
						if(result.code == '0') {
							$("#user_count").html(result.data);
						};
					});
					//本月用户
					$.get("user/countMonth", {
					}, function(result) {
						console.log(result);
						if(result.code == '0') {
							$("#user_count_month").html(result.data);
						};
					});
					//本月佣金
					$.get("dashboard/getMonthExpectAmount", {
					}, function(result) {
						console.log(result);
						if(result.code == '0') {
							$("#get_month_expect_amount").html(result.data);
						};
					});      		
      }
      
      function show_detail(id)
      {
      		sessionStorage.setItem("userId", id);
					window.location.href = "user-detail.html"; 
      }
    	    	
		</script>
	</body>

</html>